if SHIELD_TRACKBALL_PIM447

config ZMK_KEYBOARD_NAME
    default "Trackball_pim447"

config ZMK_MOUSE
    default y

config I2C
    default y

config ZMK_TRACKBALL_PIM447
    bool "Enable PIM447 Trackball"
    default y
    help
        Enable support for the PIM447 trackball.

endif
